
.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    width: 90%;
    margin: 40px auto;
}

.form-container input,
.form-container textarea,
.form-container select {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 100%;
    transition: border-color 0.3s ease;
}
.form-container p {
	margin: 0px;
}

.form-container input:focus,
.form-container textarea:focus,
.form-container select:focus {
    border-color: #aaffaa;
	outline: none;
}
.form-container input:user-invalid {
	border-color: #ffffaa;
}

@media (max-width: 700px) {
    .form-container {
        width: 95%;
    }

}

.submit-button {
    padding: 12px;
    background-color: #aaffaa;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:active {
    background-color: #99dd99;
}