
body {
	font-family: "Liberation Serif", Georgia, serif;
	color: #444444 !important;
}

p {
	font-size: 18px;
}

table {
	font-size: 14px;
}
button {
	font-family: "Consolas", "Courier New", monospace !important;
	font-size: 16px !important;
}
body a:not(p a) {
	font-family: "Consolas", "Courier New", monospace !important;
	font-size: 16px !important;
}