.btn-blue {
  --bs-btn-bg: #ffffff;
  
  --bs-btn-hover-bg: #99d9ea;
  --bs-btn-hover-border-color: rgb(63,143,233); /* rgb(78,190,218) → #4ebeda */
  --bs-btn-hover-color: rgb(63,143,233);
  
  --bs-btn-active-bg: rgb(78,190,218);
  --bs-btn-active-border-color: #3ab5d0;
  --bs-btn-active-color: #ffffff;
  
  --bs-btn-focus-shadow-rgb: 153, 217, 234;
  
  --bs-border-color: rgb(78,190,218);
}

.btn-green {
  --bs-btn-bg: #ffffff;
  
  --bs-btn-hover-bg: rgb(128,255,128);
  --bs-btn-hover-border-color: rgb(64,128,64); /* rgb(78,190,218) → #4ebeda */
  --bs-btn-hover-color: rgb(64,128,64);
  
  --bs-btn-active-bg: rgb(128,255,128);
  --bs-btn-active-border-color: rgb(64,128,64);
  --bs-btn-active-color: rgbrgb(64,128,64);
  
  --bs-btn-focus-shadow-rgb: 200, 0, 0;
  
  --bs-border-color: rgb(128,255,128);
}